.register {
    width: 500px;
    min-height: 300px;
    border: 2px solid rgb(198, 196, 196);
    border-radius: 10px;
    overflow: hidden;
    align-self: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
}
.register__title {
    font-size: 30px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    position: relative;
}
.register__body {
    width: 100%;
    min-height: 100px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.register__title-back {
    position: absolute;
    right: -185px;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    transition: all 0.15s ease;
}
.register__title-back:hover {
    background: rgb(248, 248, 255);
    transition: all 0.15s ease;
}